.cabecalhoPrincipal .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalhoPrincipal-nav {
	display: flex;
}

.rodapePrincipal .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	margin-right: 5%;
}
.rodapePrincipal-contatoForm {
	width: 25%;
}
.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
	display: flex;
	height: 255px;
	/* flex-direction: column;
	flex-wrap: wrap;*/
	flex-flow: column wrap;
	width: 25%;
}

nav.rodapePrincipal-navMap-list > * {
    width: 100%;
}

section.rodapePrincipal-navMap {
    width: 100%;
}


ul.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}


li.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}
li.conteudoPrincipal-cursos-link:nth-child(4n) {
	margin-right: 0;
}
li.conteudoPrincipal-cursos-link:nth-child(4n+1) {
	margin-left: 0;
}


/*MOBILE*/

nav.cabecalhoPrincipal-nav {
	flex-direction: column;
}
.cabecalhoPrincipal .container {
	flex-direction: column;
}